.app.dark {
  --bg-color: #544242;
  --inverted-bg-color: #bbb4b4;

  --primary-color: #dcc990;
  --secondary-color: #40a866;

  --inverted-primary-color: #2b0450;
  --inverted-secondary-color: #5d55e1;
}