.app.light {
  --bg-color: #bbb4b4;
  --inverted-bg-color: #544242;

  --primary-color: #2b0450;
  --secondary-color: #5d55e1;

  --inverted-primary-color: #dcc990;
  --inverted-secondary-color: #40a866;
}